@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

@font-face {
  font-family: HeliosExtBlack;
  font-weight: black;
  src: url("./fonts/heliosextblack.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Flex',
  sans-serif;
  scroll-behavior: smooth;
}
input, select, textarea, button{font-family:inherit;}
button{
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 60px;
  margin-bottom: 40px;
}
h2{
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 40px;
}
h1,
h2,
h3 {
  font-family: 'HeliosExtBlack';
}
p{  
  font-size: 20px;
  line-height: 35px;
}
section {
  padding: 50px 0;
}
@media only screen and (max-width: 767px) {
  h1{
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2{
    font-size: 30px;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
  }
}