.header {
  background: #f9f6ef;
  background-size: cover;
  background-position: center bottom;
  min-height: 820px;
  /* max-height: 700px; */
  padding: 50px auto;
  color: black;
}

.header .container {
  }

  .head_nav_wrapper {
    width: 100%;
    /* align-items: center; */
    padding: 8px 0;
    background: #FFD553;
    }

    .head_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_nav ul {
  display: flex;
  gap: 120px;
}

.head_nav ul li {
  list-style: none;
}

.head_nav ul li a {
  display: block;
  padding: 15px 0;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.15s;
}

.head_nav ul li a:hover {
  border-bottom: 3px solid white;
}

.head_nav .burger_btn{
  background: url(../public/img/burger.svg) no-repeat;
  background-position: 50% 50%;
  outline: 0;
  border: 0;
  padding: 10px;
  box-sizing: content-box;
  width: 24px;
  height: 17px;
  display: none;
  margin-top: 8px;
}

.head_nav_mobile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  padding: 0 !important;
}

.head_nav_mobile_animating{
  animation: navSlide;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.head_nav_mobile_animating .close_btn{
  /* transform: rotate(30deg); */
}

.head_nav_mobile_animating_out{
  animation: navSlide;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(1, 0.165, 0.82, 0.075);
}

.head_nav_mobile .overlay{
  width: 100%;
  height: 100%;
  background-color: #FFD553;
  opacity: 0.97;
}

.header_nav_mobile_block{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.nav_mobile_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.nav_mobile_header .close_btn{
  background: url(../public/img/close_btn.svg) no-repeat;
  background-position: 50% 50%;
  outline: 0;
  border: 0;
  padding: 10px;
  box-sizing: content-box;
  width: 24px;
  height: 17px;
  transition: 0.5s;
}

.nav_mobile_footer{
  text-align: center;
  padding-bottom: 30px;
} 

.header_nav_mobile_block ul{
  text-align: center;
}

.header_nav_mobile_block ul li{
  margin: 15px 0;
  list-style: none;
}

.header_nav_mobile_block ul li a{
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 0;
}

.head_block_wrapper {
  position: relative;
  z-index: 2;
}

.head_block {
  max-width: 50%;
  margin-top: 150px;
}

.head_block::after {
  content: '';
  display: block;
  position: absolute;
  width: 500px;
  height: 550px;
  background: url(../public/img/head_img.svg) no-repeat;
  background-size: contain;
  top: -80px;
  right: 0px;
  /* right: -100px; */
  z-index: -1;
}

.head_block h1 {
  text-transform: uppercase;
}

.head_block p {}

.btn {
  font-family: 'HeliosExtBlack';
  display: inline-block;
  min-width: 300px;
  padding: 25px 10px;
  border-radius: 20px;
  background: #FFD553;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin-top: 50px;
  transition: 0.2s;
}

.btn:hover {
  background: #ffcc33;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.122);
}

.btn:active {
  box-shadow: none;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.section_block {
  max-width: 80%;
  }

  .section_about {
    color: white;
    background: #B74729;
}

.section_about .container {
  position: relative;
}

.section_about .section_block::after {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 100%;
  background: url(../public/img/about_img.svg) no-repeat;
  background-size: contain;
  top: 30px;
  right: 0;
  z-index: 0;
}

.services{
  background: #FFD553;
  }

  .service_img {
    position: absolute;
    width: 30%;
    height: 300px;
    top: 20%;
    right: 50px;
  }

  .service_img img {
    width: 100%;
}

.services_block{
  display: grid;
  grid-template-columns: 300px auto;
  overflow: hidden;
}

.services_nav ul li{
  line-height: 30px;
  margin: 20px 0;
  list-style: none;
  position: relative;
  transition: 0.15s;
  font-size: 17px;
  padding-left: 20px;
}

.services_nav_item_active{
  color: black;
  font-weight: bold;
}

.services_nav ul li:hover{
  color: #5970EA;
}
.services_nav ul li:hover{
  cursor: pointer;
}

/* .services_card_wrapper{
  overflow: hidden;
} */

.services_card{
  background: #F9F5EA;
  background-size: cover;
  background-position: right top;
  color: black;
  padding: 46px 52px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.services_card_animate{
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-name: slidein;
  position: relative;
}

.services_card_animate:before{
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: pseudo_slidein;
  animation-direction: reverse;
}
.services_card_content{
  max-width: 60%;
}

.services_card_icon{
  position: absolute;
  right: 0;
  border: 0;
}

.services_card h3{
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 15px;
}

.services_card p{
  line-height: 35px;
}

.services_card ul{
  margin: 10px 0;
  list-style-position: inside;
}

.services_card ul li{
  line-height: 35px;
}

.contacts {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center top;
  min-height: 750px;
  height: 92vh;
  max-height: 800px;
  color: black;
}

.container_contacts{
  max-width: 1030px;
  margin: 0 auto;
  text-align: center;
}

.contacts_line{
  display: flex;
  gap: 75px;
  list-style: none;
  justify-content: center;
  }

  .contacts_line li {
    display: flex;
    gap: 10px;
}

.contacts_form{
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 90px;
}

.contacts_form input{
  padding: 20px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  border: 2px solid #EDEDED;
  text-align: center;
  }

.contacts_form textarea{
  /* grid-column: 1 / 3; */
  border-radius: 20px;
  padding: 20px;
  outline: 0;
  resize: vertical;
  min-height: 100px;
  text-align: center;
  border: 2px solid #EDEDED;
  }

.contacts_form textarea:focus{
  text-align: left;
}

.contacts_form button[type="submit"]{
  font-family: 'HeliosExtBlack';
  font-weight: 900;
  margin: auto;
  padding: 20px 80px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border: 2px solid transparent;
  background: #FFD553;
  border-radius: 20px;
  transition: 0.15s;
}

.contacts_form button[type="submit"]:hover{
  border: 2px solid white;
  cursor: pointer;
}

.contacts_form button[type="submit"]:active{
  border: 2px solid grey;
  background-color: #008fe2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 0 20px;
  background: #1E2632;
  color: white;
}

.footer span{
  font-size: 16px;

}

@keyframes navSlide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    transform: translateX(80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pseudo_slidein {
  from {
    left: -80px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 1199px) {
  .header {
    min-height: 600px;
  }
  .container{
    max-width: 960px;
  }
  .head_block{
    margin-top: 0;
    padding: 40px 0;
  }
  .head_block::after{
    width: 300px;
    height: 300px;
    top: 50px;
    right: 60px;
  }
  .section_about .section_block::after {
    width: 20%;
    height: 300px;
    top: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .container{
    max-width: 720px;
  }
.services_block {
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.services_nav ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin-bottom: 30px;
  /* flex-wrap: wrap;
    justify-content: center; */
  gap: 25px;
}

.services_nav ul li {
  margin: 5px 0;
  font-size: 15px;
  line-height: 20px;
  padding-left: 10px;
  }
  .head_nav ul{
    gap: 70px;
  }
  .head_block {
  }
  .head_block::after{
    width: 350px;
    height: 350px;
    top: 110px;
    right: -50px;
    }

    .section_about .section_block {
      max-width: 73%;
  }
  .section_about .section_block::after{
    width: 200px;
    height: 200px;
  }
  .services_card_content {
    max-width: 100%;
    padding-bottom: 200px;
  }

  .service_img {
    top: unset;
    bottom: -50px;
    width: 200px;
    height: 300px;
    right: 0;
    left: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  .container{
    max-width: 540px;
  }
  .head_block::after {
    width: 250px;
    height: 250px;
    top: 100px;
    right: -32px;
  }
  .head_nav ul{
    display: none;
  }
  .head_nav .burger_btn{
    display: block;
  }
.services_nav ul {
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 1fr;
}
  .contacts {
    max-height: fit-content;
  }
  .contacts_line{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contacts_form{
    grid-template-columns: 100%;
    margin-top: 20px;
  }
  .contacts_form button[type="submit"]{
    grid-column: 1 / 2;
    width: 100%;
    font-size: 15px;
    padding: 20px 30px;
  }
  .contacts_form textarea{
    grid-column: 1 / 2;
  }
.section_about .section_block {
  max-width: 100%;
}

.section_about h2 {
  padding-right: 70px;
}

.section_about .section_block::after {
  width: 70px;
  height: 70px;
  top: -5px;
  right: 20px;
}
}
@media only screen and (max-width: 575px) {
  .btn {
    min-width: 250px;
  }
  .container{
    width: 100%;
    padding: 8px 15px;
    }

    .head_nav_wrapper {
      margin: 0;
  }
  .head_nav{
    padding-top: 17px;
  }
  .head_block {
    max-width: 100%;
    padding-top: 250px;
    text-align: center;
  }
  .head_block::after{
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .services_card {
    text-align: center;
  }
  .services_nav ul{
    gap: 10px;
    line-height: 20px;
  }
  .contacts {
    height: unset;
    min-height: unset;
    padding-top: 50px;
  }
}